html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start of my CSS |||||||||||||||||||||||||||||*/

html,body {
    height:100%;
    width:100%;
    font-family: sans-serif;
}
a:visited {
    color: #596D48;
}
a {
    color:#596D48;
}
@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}
.Container {
    display: flex;
    /* height:100vh;
    width:100vw; */
    height:100%;
    margin-right:0px;
}
.Left {
    display: flex;
    background-image:url(images/treephoto.avif);
    max-width: 387px;
}
.Right {
    flex-direction: column;
    width:60vw;
    justify-content: center;
    background-color: #E5E7EB;
    padding:40px 0;
}
.Description {
    display: flex;
    flex-direction: column;
    padding:10px 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1rem;
    font-family: sans-serif;
}
.Description h1{

}
.YouKnow{
    padding:10px 0;
}
.SignupForm {
    display: flex;
    flex-wrap: wrap;
}
.FormContainer {
    background-color: white;
    padding:10px 30px;
}
.FormInput {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 20px;
}
.FormInput input, .FormInput input:valid{
    border:1px solid #E5E7EB;
    padding:5px;
    border-radius: 3px;
}
.FormInput input:focus {
    border: none;
    outline: 1px solid blue;
    box-shadow: 3px 3px 5px rgb(39, 38, 37);
}
.FormInput label {

}
.LetsDoThis {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1em;
}
.CreateContainer {
    display: flex;
    padding:10px 30px;
    flex-direction: column;
    background-color: #E5E7EB;
}
.CreateButton {
    background-color: #596D48;
    color: white;
    width:150px;
    padding:10px 20px;
    margin:15px 0;
    border:none;
    border-radius: 5px;
}
.Title {
    width:40vw;
    height:20vh;
    margin-top:20vh;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    font-family: Norse;
}
.Title img {
    height:20vh;
}
.Title div {
    color:white;
    font-size: 4rem;
    padding-left: 20px;
}
  
  .errorTrue {
    color: red;
    padding: 3px;
    font-size: 12px;
  }